<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <head>
<meta charset="ISO-8859-1">

<style type="text/css">
#ab {
display: inline-block;
}

</style>


</head>
<body>
<div th:insert="component/nav.html::search-panel"></div>
<h1>Movie Not Found</h1>
</body>
</html>